:root {
  --text-color: #362121;
  --background-color: #fff;
  /* --primary-color: #ded0f2;
  --primary-color-ch: #baa5da;
  --light-blue-color: #91aaf2;
  --dark-blue-color: #6b98f2; */
  --light-color: #f2b5a7;
  --dark-color: #f28d8d;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  list-style: none;
  padding-inline-start: 0;
  margin: 0 0;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark-color);
  padding: 0.5rem 0.8rem;
}

.navbar_side {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.navbar_logo {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  font-weight: 600;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 0.4rem 0.8rem;
}

.navbar_menu input {
  all: unset;
  cursor: pointer;
  color: white;
}

.navbar_togglebtn {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
  }

  .navbar_togglebtn {
    display: block;
  }

  .navbar_side {
    display: none;
    flex-direction: column;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .navbar_menu li {
    padding-left: 0;
  }

  .navbar_side.active {
    display: flex;
  }
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: solid 3px var(--text-color);
  background-color: var(--background-color);
  padding: 3rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol li {
  text-align: left;
  padding-bottom: 1rem;
}

.btn-block,
.btn-my {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  color: white;

  display: inline-block;
  justify-content: center;
  font-weight: 400;
  text-align: center;
}

.btn-block {
  background-color: var(--dark-color);
  border-color: white;
}

.btn-my {
  background-color: var(--dark-color);
  border-color: white;
}

.footer {
  padding: 2rem 15px;
  margin: auto;
  color: rgba(0, 0, 0, 0.85);
  min-height: 10rem;
  max-width: 600px;
}

.column {
  text-align: left;
  float: left;
}
